<div id="{{block_id}}">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>{{header}}</h3>
					<h1>{{header2}}</h1>
					<h5>{{header3}}</h5>
					<h5>{{header4}}</h5>
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<img src="{{image}}" class="img-responsive">
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->
