<div id="{{block_id}}">
	 	<div class="container centered">
	 		<div class="row">
	 			<div class="col-lg-8 col-lg-offset-2">
	 			<i class="{{icon}}"></i>
   			 {{{text}}}
	 			<h4><br/>{{autor}}</h4>
	 			<p>{{position}}</p>
	 			</div>
	 		</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/twrap -->
